.btn {
    min-height: 40px;
    min-width: 70px;

    border: none;
    border-radius: var(--border-radius);

    cursor: pointer;

    &-primary {
        color: white;
        background-color: var(--orange);

        &:hover {
            background-color: var(--orange-hover);
        }
    }

    &-clear {
        color: var(--orange);
        border: 1px solid var(--orange);

        &:hover {
            color: var(--orange-hover);
            border: 1px solid var(--orange-hover);
        }
    }

    &-transparent {
        min-height: 16px;
        min-width: 16px;
        background-color: transparent;
        border-radius: var(--border-radius);

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}