:root {
    // Colors
    --orange: #FF5500;
    --orange-hover: #E94E00;

    --border: #CED2D6;

    --error: #F04075;

    --text-gray: #ABABAB;

    --navbar-background-color: #333333;
    --navbar-height: 90px;

    // property
    --border-radius: 8px;
}