.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input {
    min-width: 70px;
    min-height: 40px;
    padding: 12px;

    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    outline: none;

    background-color: white;

    &:focus {
        border: 1px solid var(--orange);
    }

    &-error {
        border: 1px solid var(--error);
    }
}

.label {
    margin-bottom: 4px;
}

.required {
    position: relative;
    top: -5px;
    left: 5px;
}