.wrapper {
    width: fit-content;
    position: relative;

    .search-icon {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .input {
        padding: 0 36px;
    }

    .btn-clear {
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;

        cursor: pointer;
    }
}
