.wrapper {
    display: flex;
    gap: 24px;

    height: 100%;
    margin: 20px 32px;
}

.main {
    position: relative;
    width: 100%;
}

.search {
    width: 400px;
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
}