.rating {
    display: flex;
    gap: 8px;

    .star {
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        .icon {
            fill: orange;
        }
    }

    .disable {
        color: var(--text-gray);
    }
}